<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.gugu.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/page/*</url-pattern>
    <url-pattern>/admin.jsp</url-pattern>
  </filter-mapping>
  
  
  <display-name>gugu</display-name>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gugu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.ActiveServlet</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.gugu.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.LeacotsServlet</display-name>
    <servlet-name>LeacotsServlet</servlet-name>
    <servlet-class>com.gugu.servlet.LeacotsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.PicUpServlet</display-name>
    <servlet-name>PicUpServlet</servlet-name>
    <servlet-class>com.gugu.servlet.PicUpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.WhiDelServlet</display-name>
    <servlet-name>WhiDelServlet</servlet-name>
    <servlet-class>com.gugu.servlet.WhiDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.WhiDelComServlet</display-name>
    <servlet-name>WhiDelComServlet</servlet-name>
    <servlet-class>com.gugu.servlet.WhiDelComServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.WhiComServlet</display-name>
    <servlet-name>WhiComServlet</servlet-name>
    <servlet-class>com.gugu.servlet.WhiComServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.LeaDelServlet</display-name>
    <servlet-name>LeaDelServlet</servlet-name>
    <servlet-class>com.gugu.servlet.LeaDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.AboutUpServlet</display-name>
    <servlet-name>AboutUpServlet</servlet-name>
    <servlet-class>com.gugu.servlet.AboutUpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.ValidationCodeServlet</display-name>
    <servlet-name>ValidationCodeServlet</servlet-name>
    <servlet-class>com.gugu.servlet.ValidationCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.UserForbidenServlet</display-name>
    <servlet-name>UserForbidenServlet</servlet-name>
    <servlet-class>com.gugu.servlet.UserForbidenServlet</servlet-class>
  </servlet>
  <servlet>
    <description>com.gugu.servlet</description>
    <display-name>com.gugu.servlet.RegServlet</display-name>
    <servlet-name>TestReg</servlet-name>
    <servlet-class>com.gugu.servlet.RegServlet</servlet-class>
    <init-param>
      <description>SMTP Host</description>
      <param-name>smtphost</param-name>
      <param-value>smtp.163.com</param-value>
    </init-param>
    <init-param>
      <description>Mail Port</description>
      <param-name>port</param-name>
      <param-value>25</param-value>
    </init-param>
    <init-param>
      <description>Mail Host Username</description>
      <param-name>mailusername</param-name>
      <param-value>18165258541@163.com</param-value>
    </init-param>
    <init-param>
      <description>Mail Host Password</description>
      <param-name>mailpassword</param-name>
      <param-value>771927951</param-value>
    </init-param>
    <init-param>
      <description>Mail From</description>
      <param-name>mailfrom</param-name>
      <param-value>18165258541@163.com</param-value>
    </init-param>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.mp4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ttf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.woff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.svg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.eot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestReg</servlet-name>
    <url-pattern>/testReg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeacotsServlet</servlet-name>
    <url-pattern>/LeacotsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicUpServlet</servlet-name>
    <url-pattern>/PicUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WhiDelServlet</servlet-name>
    <url-pattern>/WhiDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WhiDelComServlet</servlet-name>
    <url-pattern>/WhiDelComServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WhiComServlet</servlet-name>
    <url-pattern>/WhiComServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeaDelServlet</servlet-name>
    <url-pattern>/LeaDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AboutUpServlet</servlet-name>
    <url-pattern>/AboutUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidationCodeServlet</servlet-name>
    <url-pattern>/ValidationCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserForbidenServlet</servlet-name>
    <url-pattern>/UserForbidenServlet</url-pattern>
  </servlet-mapping>
</web-app>